RewriteEngine On 	

RewriteRule ^users/?$ users.php [NC,L]						
RewriteRule ^users/(.+)/?$ users.php?userID=$1 [NC,L] 

RewriteRule ^userData/?$ userData.php [NC,L]
RewriteRule ^userData/(.+)/?$ userData.php?userID=$1 [NC,L]	

RewriteRule ^images/?$ images.php [NC,L]						
RewriteRule ^images/(.+)/?$ images.php?token=$1 [NC,L] 

RewriteRule ^imagesDisplay/?$ imagesDisplay.php [NC,L]						
RewriteRule ^imagesDisplay/(.+)/?$ imagesDisplay.php?token=$1 [NC,L] 

RewriteRule ^login/?$ login.php [NC,L]						
RewriteRule ^login/(.+)/(.+)/?$ login.php?username=$1&password=$2 [NC,L] 

RewriteRule ^names/?$ names.php [NC,L]
RewriteRule ^names/(.+)/?$ names.php?gender=$1 [NC,L]	

<Files tools.php>
Order allow,deny
Deny from all
</Files>