RewriteEngine On 				# Vklopi 'rewriting engine'

RewriteRule ^igralci/?$ igralci.php [NC,L]						# če gre za zahtevek na relativni URL '/igralci' ga spremeni v 'igralci.php'
RewriteRule ^igralci/(.+)/?$ igralci.php?vzdevek=$1 [NC,L] 	# preslika vzorec 'igralci/xxxx' v 'igralci.php?vzdevek=xxxx' 

RewriteRule ^igre/?$ igre.php [NC,L]					# če gre za zahtevek na relativni URL '/igre' ga spremeni v 'igre.php'
RewriteRule ^igre/(.+)/?$ igre.php?vzdevek=$1 [NC,L] 	# preslika vzorec 'igre/xxxx' v 'igre.php?vzdevek=xxxx'

RewriteRule ^lestvice/?$ lestvice.php [NC,L]
RewriteRule ^lestvice/(.+)/?$ lestvice.php?tezavnost=$1 [NC,L]

# Onemogočimo direkten dostop do orodja.php
<Files orodja.php>
Order allow,deny
Deny from all
</Files>